<footer class="footer-light">
    <div class="light-layout">
        <div class="container">
            
        </div>
    </div>
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img src="~/Assets/User/img/logo.png" alt=""></div>
                        <p>
                            Cửa hàng thú nhồi bông số 1 Việt Nam
                        </p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>Thông tin cửa hàng</h4>
                            </li>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>Multikart Store, Số 1 Bắc Từ Liêm, Hà Nội
                                <li><i class="fa fa-phone"></i>Số điện thoại: 123-456-7898</li>
                                <li><i class="fa fa-envelope-o"></i>Email: <a href="#">ShopPetNumberOne@gmail.com</a></li>
                                <li><i class="fa fa-fax"></i>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</footer>